:root{
    --bgColor:black;
    --textColor:white;
    --tabColor:rgb(229, 238, 178);
    --tabTextColor:black;
    --activeTabBGColor:rgb(229, 238, 178);
    --inactiveTabBGColor:rgb(149, 155, 116);
}

html {
    background:var(--bgColor);
    color:var(--textColor);
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction:column;
    height:100vh;
}

navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

#tabs{
    display: flex;
    padding-left:50px;
}

[id$=tab]{
    padding:10px 20px;
    cursor: pointer;
    border-bottom:none;
    position:relative;
    background:var(--inactiveTabBGColor);
    bottom:-5px;
    border-radius:5px 5px 0 0;
    margin-right:5px;
    min-width:75px;
    text-align:center;
    font-weight: bold;
    z-index:0;
    color:var(--tabTextColor);
}

[id$=tab].active{
    border-bottom:var(--bgColor);
    background:var(--activeTabBGColor);
    z-index:2;
}

main{
    display: flex;
    flex-direction: column;
    margin:20px;
    height:100%;
}

#sections{
    border:5px solid var(--tabColor);
    border-radius:20px;
    flex-grow:1;
    z-index:1;
    padding:20px;
    background-color: var(--tabColor);
    color:var(--tabTextColor);
}

section{
    display:none;
}

section.active{
    display: flex;
}

ul#links{
    list-style-type: none;
    display: flex;
}